{# Padding #}

{% set con = content_block %}
{% set padding = con.padding %}
{% set hr = con.hr %}
{% set ruler_height = con.ruler_height %}

<section class="container" style="margin-top:{{ padding }};margin-bottom:{{ padding }}">
	{% if hr %}
		<div class="hr" style="height:{{ ruler_height }}px;"></div>
	{% endif %}
</section>
