		{# TWIG BASE #}
		
		{% block header %}
			{% include 'common/main-head.twig' %}
			{% include 'common/main-header.twig' %}
		{% endblock %}

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}
			{% include 'common/main-footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

	</body>
</html>
