////
/// custom-header.scss
/// Blocks
/// @author Ash Whiting
////

.custom-header {
	background:$gray-lighter;
	padding-bottom:26px;
	padding-top:32px;

	h2 {
		@include fs(40,42);
	}

	&.header-margins {
		margin-top:30px;
		margin-bottom:30px;
	}
}
