<footer id="footer" class="container-fluid">
	<div class="inner">
	    <div class="row">
	        <article>
	            &copy;  {{"now"|date('Y')}} {{function('bloginfo','name')}}
	        </article>
	        <article>
	            By using this website, you agree to our cookie policy
	        </article>
	    </div>
	</inner>
</footer>
