////
/// blocks.scss
/// Blocks
/// @author Ash Whiting
////

// ===================================
// Custom Header
// ===================================

.custom-header {
	background:$gray-lighter;
	padding-bottom:26px;
	padding-top:32px;

	h2 {
		@include fs(40,42);
	}

	&.header-margins {
		margin-top:30px;
		margin-bottom:30px;
	}
}

// ===================================
// Text Block
// ===================================

.text-block {
	margin-bottom:30px;
	margin-top:30px;

	.row {

		.text-block-left {
			figure {
				img {
					border-radius:10px;
				}
				@media (max-width:$screen-xs-max) {
					margin-bottom:30px;
				}
			}
		}
	}
}

// ===================================
// Full Width image
// ===================================

.full-width-image,
.full-width-image-parallax {
	position:relative;
	padding:0;

	.overlay-text {
		position:absolute;
		text-align:center;

		@media (min-width:$screen-xs-max) {
			left:0;
			bottom:0;
			right:0;
			padding:30px 50px;
		}

		@media (max-width:$screen-xs-max) {
			position:relative;
			padding:10px 0;
			clear:both;
		}
	}
}

.full-width-image-parallax {
	background-size: 100% auto;
	height:500px;

	.overlay-text {
		background:rgba(255,255,255,0.3);
	}
}

// ===================================
// Accordion
// ===================================

.accordion {

	.panel-group {

		.panel {

			.panel-heading {
				display:block;
				text-decoration:none;

				&:hover,
				&:focus,
				&:active {
					text-decoration:none;
				}
			}
		}
	}
}

// ===================================
// Download
// ===================================

.download-item {
	@include make-sm-column(4);
	@include make-md-column(3);
}

// ===================================
// Image Gallery / Video Gallery
// ===================================

.image-gallery,
.video-gallery {

	.light-gallery-images,
	.light-gallery-videos {

		.inner {
			cursor:pointer;
			@include make-sm-column(4);
			@include make-md-column(3);
		}
	}
}

// ===================================
// Image Gallery
// ===================================

// ===================================
// Video Gallery
// ===================================


// ===================================
// Teaser block
// ===================================

.teaser-block {

	.row {

		.inner {

		}

		.teaser-full-width {
			@include make-xs-column(12);
		}

		.teaser-half {
			@include make-xs-column(12);
			@include make-sm-column(6);
		}

		.teaser-third {
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(4);
		}

		.teaser-quarter {
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(3);
		}
	}
}

// ===================================
// Padding
// ===================================

.hr {
	height:1px;
	width:100%;
	background:$gray-lighter;
}

// ===================================
// Custom Post
// ===================================
