////
/// blocks.scss
/// Blocks
/// @author Your Name
////

// ===================================
// Text Block
// ===================================

// ===================================
// Full Width image
// ===================================

.full-width-image {
	position:relative;
	padding:0;

	.overlay-text {
		position:absolute;
		text-align:center;

		@media (min-width:$screen-xs-max) {
			left:0;
			bottom:0;
			right:0;
			padding:30px 50px;
		}

		@media (max-width:$screen-xs-max) {
			position:relative;
			padding:10px 0;
			clear:both;
		}


	}


}

// ===================================
// Accordion
// ===================================


// ===================================
// Accordion
// ===================================

.download-item {
	@include make-sm-column(6);
	@include make-md-column(4);
}
