////
/// typography.scss
/// Mixins
/// @author Ash Whiting
////
// ===================================

// ===================================
// Custom Fonts
// ===================================

// ===================================
// Text alignment
// ===================================

.text-left {
	text-align:left;

	@media(max-width:$screen-xs-max) {
		text-align:center;
	}
}

.text-right {
	text-align:right;

	@media(max-width:$screen-xs-max) {
		text-align:center;
	}
}

// ===================================
// headers
// ===================================

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.text-center {
	text-align:center;

	@media(max-width:$screen-xs-max) {
		text-align:center;
	}
}

// ===================================
// Links
// ===================================

a {
	transition:color 0.5s ease;

	&:active,
	&:focus,
	&:hover {
		text-decoration:none;
	}
}
